@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int groupNumber = 4;
    Random rnd = new Random();
}
<head>
    <link rel="stylesheet" href="~/css/myGroups.css" />
</head>
<section class="scroll-container" onscroll="scrollFunction('discoverContainer')" id="discoverContainer">

    <!-- Mid Level Tools -->
    <div class="toolbar">

        <!-- Search -->
        <div class="input-group" id="discoverSearch">
            <span class="input-group-text"><i class='bx bx-search'></i></span>
            <input type="text" class="form-control" aria-label="Search Groups">
        </div>
    </div>

    <!-- Group Lists -->
    <div class="container groupList">
        @for (int i = 0; i < groupNumber; i++)
        {
            int userCount = @rnd.Next(1, 50);

            <div class="card group-card">
                <div class="card-body">
                    <a href="#" class="img-container">
                        <img src="imgs/myGroups/discover.png" alt="...">
                    </a>
                    <div class="p-2">
                        <a href="#">
                            <div class="align-middle">
                                <h3>Group @i</h3>
                                <div class="group-stats">
                                    <i class='bx bx-user-circle'></i>
                                    @userCount

                                    @if (userCount < 15)
                                    {
                                        <i class='bx bx-lock-open-alt'></i>
                                        <span>Public</span>
                                    }else
                                    {
                                        <i class='bx bx-lock-alt'></i>
                                        <span>Private</span>
                                    }

                                </div>
                            </div>
                        </a>
                        <div class="group-activity">
                            <div class="notification">
                                <button class="btn btn-cosgear" data-bs-toggle="modal" data-bs-target="#aboutGroupModal">
                                    <i class='bx bx-info-circle'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <partial>
        @{
            await Html.RenderPartialAsync("Modals/AboutDiscoverGroup");
        }
    </partial>

</section>
