@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int groupNumber = 12;
    Random rnd = new Random();
}
<head>
    <link rel="stylesheet" href="../css/groups.css" />
    <link rel="stylesheet" href="../css/myGroups.css" />
</head>
<section class="scroll-container" onscroll="scrollFunction('groupsContainer')" id="groupsContainer">

    <!-- Mid Level Tools -->
    <div id="toolbar">

        <!-- Search -->
        <div class="input-group mb-3" id="groupSearch">
            <span class="input-group-text"><i class='bx bx-search'></i></span>
            <input type="text" class="form-control" aria-label="Search Groups">
        </div>

        <!-- Example single danger button -->
        <div class="dropdown">
            <button onclick="toggleDropdown('groupsFilters')" class="btn btn-cosgear">
                <i class='bx bx-filter-alt'></i>
                <i class='bx bxs-down-arrow'></i>
            </button>
            <div id="groupsFilters" class="dropdown-content">

                <!-- Order By -->
                <div class="dropdown-filters">
                    <em>Order By...</em>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="alphAsc" value="alphAsc">
                            <label class="form-check-label" for="alphAsc">Alphabetical (A to Z)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="alphDesc" value="alphDesc">
                            <label class="form-check-label" for="alphDesc">Alphabetical (Z to A)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="sortCheck1" value="sort1">
                            <label class="form-check-label" for="sortCheck1">Newest First</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="sortCheck2" value="sort2">
                            <label class="form-check-label" for="sortCheck2">Oldest First</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="sortCheck3" value="sort3">
                            <label class="form-check-label" for="sortCheck3">Most Activity First</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="sortCheck4" value="sort4">
                            <label class="form-check-label" for="sortCheck4">Least Activity First</label>
                        </div>
                    </div>
                </div>

                <div>
                    <button class="btn btn-cosgear" type="button" onclick="toggleDropdown('groupsFilters')">Apply</button>
                    <button class="btn btn-outline-secondary" type="button" onclick="toggleDropdown('groupsFilters')">Cancel</button>
                </div>
            </div>
        </div>

    </div>

    <!-- Group Lists -->
    <div>
        @for (int i = 0; i < groupNumber; i++)
        {
            int cosProg = rnd.Next(0, 100);

            <div class="card">
                <div class="card-body d-inline-flex">
                    <div class="img-container">
                        <img src="../imgs/groupCosplays/fran.jpg" alt="...">
                    </div>
                    <div class="d-inline">
                        <h3>Character Name</h3>
                        <small> by @@Username-@i</small>

                        <!-- Cosplay Progress Bar-->
                        <div class="cosplay-stats">
                            <p>@cosProg%</p>
                            <div class="progress" role="progressbar" aria-label="Cosplay Progress" aria-valuenow="@cosProg" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: @cosProg%">
                                </div>
                            </div>
                        </div>

                        <div class="group-activity">
                            <div class="notification">
                                <i class='bx bxs-hot'></i>
                                <span>@rnd.Next(50, 150)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

</section>

<script src="../js/groups.js"></script>
