@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Random rnd = new Random();
    int checkMe = rnd.Next(1, 10);
}

<link rel="stylesheet" href="~/css/modal.css" />
<link rel="stylesheet" href="~/css/imageUpload.css" />
<!-- Modal -->
<div class="modal fade" id="aboutGroupModal" tabindex="-1" aria-labelledby="aboutGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">About Group</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- Group Image -->
                <div class="mb-3 text-center">
                    <img src="~/imgs/myGroups/discover.png" />
                </div>

                <!-- Group Name -->
                <div class="mb-3">
                    <h2 for="groupName" class="form-label">[Group Name]</h2>
                </div>

                <!-- Group Privacy -->
                <!-- Indicate if the group is public or private -->
                <div>
                    <small><em>This will change based on if the group is public or private</em> </small>

                    @if (checkMe > 5)
                    {
                        <!-- Public Group -->
                        <div>
                            This group is
                            <div class="d-inline-flex">
                                <i class='bx bx-lock-open-alt'></i> Public
                            </div>
                        </div>
                    }
                    else
                    {
                        <!-- Private Group -->
                        <div>
                            This group is...
                            <div class="d-inline-flex">
                                <i class='bx bx-lock-alt'></i> Private
                            </div>
                        </div>
                    }
                </div>

                <!-- About -->
                <div class="mb-3">
                    <h2 for="aboutGroup" class="form-label mb-2">About</h2>
                    <div class="mb-2">
                        <small><em>These will only be displayed if applicable </em></small>

                        <div>
                            Fandom: <b>Fandom</b>
                        </div>
                        <div>
                            Character: <b>Character</b>
                        </div>
                        <div>
                            Origin: <b>Origin</b>
                        </div>
                    </div>
                    <div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci tincidunt netus magnis montes sem mattis lacus lectus.
                            Molestie ac commodo nisl erat hac risus mattis ad. Curabitur montes est hendrerit montes imperdiet convallis erat tempor.
                            Maecenas nostra rhoncus duis pellentesque pretium fusce nascetur elementum.
                            Magnis tellus et conubia dolor mus parturient felis erat. Accumsan ornare eleifend justo mus mi tellus ac sapien.
                        </p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <!-- Change button based on if the group is public or private -->
                @if (checkMe > 5)
                {
                    <button type="button" class="btn btn-cosgear">Join Group</button>
                }
                else
                {
                    <button type="button" class="btn btn-cosgear">Request to Join Group</button>
                }

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                <!-- If the group is already joined, show this button -->
                <button type="button" class="btn btn-outline-danger">Leave Group</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/groups.js"></script>