@{
    Layout = "_Layout";
    ViewData["Title"] = "[GROUP NAME]";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/groups.css" rel="stylesheet">
    <link href="~/css/myGroups.css" rel="stylesheet">
    <link href="~/css/chat.css" rel="stylesheet" />

</head>

<!-- Scroll to Top Button -->
<button onclick="topFunction()" class="myBtn" title="Go to top"><i class='bx bxs-chevron-up'></i></button>

<partial>
    @{
        await Html.RenderPartialAsync("Modals/InviteUser");
        await Html.RenderPartialAsync("Modals/AboutGroup");
        await Html.RenderPartialAsync("Modals/Notifications");
    }
</partial>
<!-- Top Header Area -->
<div class="header">
    <!-- Controls and Label -->
    <div>
        <h1 class="d-inline">
            <a href="@Url.Action("Index","Home")" class="text-decoration-none">
                <i class='bx bx-arrow-back'></i>
            </a>
            Group Name
        </h1>

        <!-- Invite User Modal -->
        <button type="button" class="action" data-bs-toggle="modal" data-bs-target="#inviteUserModal">
            <i class='bx bxs-user-plus'></i>
        </button>

        <!-- Group Notifications-->
        <button type="button" class="action" data-bs-toggle="modal" data-bs-target="#groupNotificationsModal">
            <i class='bx bx-bell'></i>
        </button>
        
        <!-- Group Notifications-->
        <button type="button" class="action" data-bs-toggle="modal" data-bs-target="#aboutGroupModal">
            <i class='bx bx-info-circle'></i>
        </button>

    </div>

    <!-- Nagivation Bar -->
    <ul class="nav nav-underline top-nav" id="groupsNav">
        <li class="nav-item">
            <a class="nav-link d-grid justify-content-center" href="#" id="feed-tab" onclick="toggleActiveTab(this, 'feed')">
                <i class='bx bxs-hot ms-auto me-auto'></i>
                Feed
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-grid justify-content-center" href="#" id="cosplays-tab" onclick="toggleActiveTab(this, 'cosplays')">
                <i class='bx bx-mask ms-auto me-auto'></i>
                Cosplays
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-grid justify-content-center" href="#" id="resources-tab" onclick="toggleActiveTab(this, 'resources')">
                <i class='bx bx-cut ms-auto me-auto'></i>
                Resources
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-grid justify-content-center" href="#" id="chat-tab" onclick="toggleActiveTab(this, 'chat')">
                <i class='bx bx-conversation ms-auto me-auto'></i>
                Chat
            </a>
        </li>
    </ul>
</div>

<!-- Groups Feed Container -->
<div>

    <!-- NOTE: Realistically, this would be the same view with a filter applied to the post collection to only display the posts that belong to this group -->
    <div id="feed" class="tabcontent hide">
        <partial>
            @{
                await Html.RenderPartialAsync("_Partials/GroupsFeed");
            }
        </partial>
    </div>

    <!-- Groups Cosplays Container -->
    <div id="cosplays" class="tabcontent hide">
        <partial>
            @{
                await Html.RenderPartialAsync("_Partials/GroupCosplays");
            }
        </partial>
    </div>

    <!-- Groups Resource Container -->
    <div id="resources" class="tabcontent hide">
        <partial>
            @{
                //await Html.RenderPartialAsync("_Partials/GroupCosplays");
            }
        </partial>
    </div>

    <!-- Groups Resource Container -->
    <div id="chat" class="tabcontent hide" style="max-height: 80vh;">
        <partial>
            @{
                await Html.RenderPartialAsync("_Partials/GroupChat");
            }
        </partial>
    </div>
</div>
