@{
    ViewData["Title"] = "Groups";
    int groupNumber = 8;
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link href="~/css/groups.css" rel="stylesheet">
    <script src="~/js/site.js"></script>
</head>
<body>
    <!-- Top Header Area -->
    <div class="header">

        <!-- Controls and Label -->
        <div class="mb-0">
            <h1 class="d-inline"> <i class='bx bx-group'></i> Groups</h1>

            <!-- Create Group Button -->
            <button type="button" class="action" data-bs-toggle="modal" data-bs-target="#createGroupModal">
                <i class='bx bx-plus-circle'></i>
            </button>

            <!-- Group Notifications -->
            <button type="button" class="action position-relative" data-bs-toggle="modal" data-bs-target="#groupNotificationsModal">
                <i class='bx bx-bell'>
                    <span class="position-absolute top-0 start-75 translate-middle p-1 bg-danger rounded-circle">
                        <span class="visually-hidden">New alerts</span>
                    </span>
                </i>
            </button>
        </div>

        <!-- Nagivation Bar -->
        <ul class="nav nav-underline top-nav m-0 p-0" id="groupsNav">
            <li class="nav-item">
                <a class="nav-link d-grid justify-content-center" href="#" id="feed-tab" onclick="toggleActiveTab(this, 'feed')">
                    <i class='bx bxs-hot ms-auto me-auto'></i>
                    Feed
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-grid justify-content-center" href="#" id="myGroups-tab" onclick="toggleActiveTab(this, 'myGroups')">
                    <i class='bx bx-group ms-auto me-auto'></i>
                    My Groups
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-grid justify-content-center" href="#" id="discover-tab" onclick="toggleActiveTab(this, 'discover')">
                    <i class='bx bx-world ms-auto me-auto'></i>
                    Discover
                </a>
            </li>
        </ul>
    </div>

    <section>
        <partial>
            @{
                await Html.RenderPartialAsync("Modals/CreateGroup");
                await Html.RenderPartialAsync("Modals/Notifications");
            }
        </partial>
    </section>

    <!-- Scroll to Top Button -->
    <button onclick="topFunction()" class="myBtn" title="Go to top"><i class='bx bxs-chevron-up'></i></button>

    <!-- Groups Feed Container -->
    <div id="feed" class="tabcontent hide">
        <partial>
            @{
                await Html.RenderPartialAsync("_Partials/GroupsFeed");
            }
        </partial>
    </div>

    <!-- My Groups Container -->
    <div id="myGroups" class="tabcontent hide">
        <partial>
            @{
                await Html.RenderPartialAsync("_Partials/MyGroups");
            }
        </partial>
    </div>

    <!-- Discover Groups Container -->
    <div id="discover" class="tabcontent hide">
        <partial>
            @{
                await Html.RenderPartialAsync("_Partials/Discover");
            }
        </partial>
    </div>
</body>