@{
    ViewData["Title"] = "Groups";
    int groupNumber = 8;
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/groups.css" rel="stylesheet">
</head>
<body>
    <!-- Top Header Area -->
    <div class="header">
        <!-- Controls and Label -->
        <div>
            <h1 class="d-inline"> <i class='bx bx-group'></i> Groups</h1>

            <!-- Button trigger modal -->
            <button type="button" class="action" data-bs-toggle="modal" data-bs-target="#createGroupModal">
                <i class='bx bx-plus-circle'></i>
            </button>

        </div>

        <!-- Nagivation Bar -->
        <ul class="nav nav-underline top-nav" id="groupsNav">
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleActiveTab(this, 'feed')">Feed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleActiveTab(this, 'myGroups')">My Groups</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleActiveTab(this, 'discover')">Discover</a>
            </li>
        </ul>
    </div>

    <section>
        <partial>
            @{
                await Html.RenderPartialAsync("Modals/CreateGroup");
            }
        </partial>
    </section>

    <!-- Scroll to Top Button -->
    <button onclick="topFunction()" class="myBtn" title="Go to top"><i class='bx bxs-chevron-up'></i></button>

    <!-- Groups Feed Container -->
    <div id="feed" class="tabcontent hide">
        <partial>
            @{
                await Html.RenderPartialAsync("_Partials/GroupsFeed");
            }
        </partial>
    </div>

    <!-- My Groups Container -->
    <div id="myGroups" class="tabcontent hide">
        <partial>
            @{
                await Html.RenderPartialAsync("_Partials/MyGroups");
            }
        </partial>
    </div>

    <!-- Discover Groups Container -->
    <div id="discover" class="tabcontent hide">
        <partial>
            @{
                await Html.RenderPartialAsync("_Partials/Discover");
            }
        </partial>
    </div>
</body>