body {
    background-color: var(--cosgear-1);
    color: var(--cosgear-5);
    font-size: 16px;
    padding: 8px;
    scrollbar-width: none;
}

.header {
    position: sticky;
    top: 1%;
    padding-top: 8px;
    height: fit-content;
    background: var(--cosgear-1);
    vertical-align: middle;
}

    .header .nav-underline {
        width: 100%;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8px;
    }

        .header .nav-underline .nav-link {
            color: var(--cosgear-5);
        }

            .header .nav-underline .nav-link .bx {
                font-size: 18px;
            }

            .header .nav-underline .nav-link.active {
                color: var(--cosgear-5);
                border-bottom: 2px solid var(--cosgear-2);
            }

    .header .top-nav {
        position: sticky;
        background: var(--cosgear-1);
        border-bottom: 1px solid grey;
    }

    .header i {
        font-size: 24px;
        color: var(--cosgear-5);
    }

    .header .action {
        float: right;
    }

    .header button.action {
        background: transparent;
        border: none;
        line-height: 1em;
        color: var(--cosgear-2);
    }

    .header .action:hover {
        color: var(--cosgear-4);
    }

    .header button.action:hover {
        color: var(--cosgear-4);
    }

.btn-cosgear {
    background: var(--cosgear-2);
    color: var(--cosgear-1) !important;
    width: fit-content;
}

    .btn-cosgear i {
        font-size: 14px;
        color: var(--cosgear-1) !important;
    }

    .btn-cosgear .bxs-down-arrow {
        font-size: 12px;
    }

    .btn-cosgear:hover, .btn-cosgear:focus {
        background-color: var(--cosgear-4);
    }

.scroll-container {
    max-height: 85vh;
    overflow-y: auto;
}

    .scroll-container .container {
        padding: 0;
    }



/* Back To Top Button */
.myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--cosgear-2);
    color: var(--cosgear-1);
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 12px;
}

    .myBtn:hover {
        background-color: var(--cosgear-4);
    }

/* Toolbar Styling */
.toolbar {
    margin: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: inline-flex;
}

    .toolbar .bx {
        color: var(--cosgear-1);
        font-size: 18px;
    }

    .toolbar .dropdown {
        position: relative;
        display: inline-block;
        border-radius: 8px;
        color: var(--cosgear-1);
    }

    .toolbar .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--cosgear-5);
        color: var(--cosgear-1);
        width: fit-content;
        min-width: 300px;
        z-index: 4;
        border: 1px solid var(--cosgear-1);
        border-radius: 8px;
        font-weight: 400;
        max-height: 50vh;
        overflow-x: auto;
        padding: 6px;
    }

        .toolbar .dropdown-content a {
            color: var(--cosgear-1);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

#toolbar .dropdown a:hover {
    background-color: #ddd;
}

.toolbar .dropdown-content .dropdown-filters {
    padding: 8px;
}

.toolbar .dropdown-content .scroll-container {
    max-height: 100px;
    overflow-x: auto;
    border: 1px solid var(--cosgear-1);
    padding: 4px;
    border-radius: 8px;
}

.show {
    display: block !important;
}

.hide {
    display: none;
}
