/* Card Element Styling */
.groupList {
    max-width: 95vw;
    width: 100%;
}
    .groupList .group-card, .group-card {
        background: var(--cosgear-3);
        color: var(--cosgear-5);
        margin: 4px 0px;
    }

        .groupList .group-card a {
            text-decoration: none;
            color: var(--cosgear-5);
        }

.group-activity {
    position: absolute;
    z-index: 3;
    right: 12px;
    top: 20%;
    float: right;
    display: inline-flex;
}

    .group-activity .notification .bx {
        position: relative;
        font-size: 30px;
        font-weight: 200 !important;
        vertical-align: middle;
        display: inline;
    }

.img-container {
    margin: auto;
    float: left;
    margin-right: 1em;
    height: 120px;
    width: 120px;
}

    .img-container img {
        height: 100%;
        width: 100%;
        border-radius: 8px;
        vertical-align: middle;
        object-fit: fill;
    }


    @media (max-width: 715px) {
        .groupList .group-card {
        height: 80px;
    }
    .img-container {
        height: 80px;
        width: 80px;
        margin-right: 0.5em;
        vertical-align: middle;
        align-content: center;
        text-align: center;
    }
        .img-container img {
            align-self: center;
            text-align: center;
        }
}

.card-body {
    padding: 0;
}

#groupsContainer {
    overflow-x: hidden;
}

    #groupsContainer #toolbar {
        max-width: 95vw;
        display: inline-flex;
    }

        #groupsContainer #toolbar #groupSearch {
            margin-right: 12px
        }

        #groupsContainer #toolbar .dropdown {
            max-width: 25%;
        }

.group-stats .bx {
    font-size: 20px;
    font-weight: 200 !important;
    vertical-align: middle;
    display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
    position: relative; /* All 'absolute'ly positioned elements are relative to this one */
    padding: 2px 5px;
}



.cosplay-stats {
    justify-items: center;
    vertical-align: middle;
    max-width: 80%;
}

    .cosplay-stats .progress {
        height: 28px;
        background: rgba(211, 80, 121, 0.75);
        border: 2px solid var(--cosgear-4);
    }

        .cosplay-stats .progress .progress-bar {
            background: var(--cosgear-4);
            color: var(--cosgear-5);
            text-align: center;
        }

    .cosplay-stats p {
        z-index: 2;
        margin-bottom: -24px;
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        justify-items: center;
    }

.cosplay-hype {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
}

    .cosplay-hype .bx {
        font-size: 32px;
    }

    .cosplay-hype span {
        font-size: 14px;
    }
