/* My Groups Styling */
#myGroups, #cosplays {
    max-width: 95vw;
    width: 100%;
}

    #myGroups .card, #cosplays .card {
        background: var(--cosgear-3);
        color: var(--cosgear-5);
        vertical-align: middle;
        margin: 4px 0px;
    }

        #myGroups .card img, #cosplays .card img {
            float: left;
            min-height: 4vh;
            max-height: 9vh !important;
            width: auto;
            margin-right: 8px;
            border-radius: 8px;
            margin-right: 12px;
        }

        #myGroups .card .card-body, #cosplays .card .card-body {
            display: inline-block;
            padding: 4px;
        }

#groupsContainer {
    overflow-x: hidden;
}

    #groupsContainer #toolbar {
        max-width: 95vw;
        display: inline-flex;
    }

        #groupsContainer #toolbar #groupSearch {
            margin-right: 12px
        }

        #groupsContainer #toolbar .dropdown {
            max-width: 25%;
        }

.group-stats .bx {
    font-size: 20px;
    font-weight: 200 !important;
    vertical-align: middle;
    display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
    position: relative; /* All 'absolute'ly positioned elements are relative to this one */
    padding: 2px 5px;
}

.group-activity {
    position: absolute;
    z-index: 10;
    right: 12px;
    top: 30%;
    float: right;
    display: inline-flex;
}

.notification .bx {
    font-size: 30px;
    font-weight: 200 !important;
    vertical-align: middle;
    display: inline;
}

.notification .button__badge {
    position: relative;
    top: -12px;
    right: 8px;
    border-radius: 50%;
    padding: 1px 6px;
    font-size: 10px;
    background: red;
}

    .cosplay-stats .progress {
        height: 28px;
        background: transparent;
        border: 2px solid var(--cosgear-4);
    }

    .cosplay-stats .progress .progress-bar {
        background: var(--cosgear-4);
        color: var(--cosgear-5);
        text-align: center;
    }

.cosplay-stats p {
    z-index: 2;
    margin-bottom: -24px;
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    justify-items: center;
}
